<!DOCTYPE html>
<html>
<head>
<title>Stock Screener</title>
</head>
<body>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-bar w3-border w3-green">
  <a href="Home" class="w3-bar-item w3-button w3-padding-16">Home</a>
  <a href="About" class="w3-bar-item w3-button w3-padding-16">About</a>
  <a href="https://www.w3schools.com/w3css/default.asp" class="w3-bar-item w3-button w3-padding-16">W3 Schools CSS</a>
  <a href="mailto:bensamborn@comcast.net" class="w3-bar-item w3-button w3-padding-16">Email</a>
  <form action="{{ url_for("Overview")}}" method="POST">
	<input type="text" class="w3-bar-item w3-input" id="tname" name="tname" placeholder="Search.." style="height:55px; width:250px">
  </form>
</div><div class="w3-sidebar w3-bar-block" style="width:25%">
  <a href="Overview" class="w3-bar-item w3-button">Overview</a>
  <a href="IncomeStatement" class="w3-bar-item w3-button">Income Statement</a>
  <a href="BalanceSheet" class="w3-bar-item w3-button">Balance Sheet</a>
  <a href="PriceChart" class="w3-bar-item w3-button">Price Chart</a>
</div>

<div style="margin-left:25%">
<h1>AAPL Balance Sheet</h1><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>2020</th>
      <th>2019</th>
      <th>2018</th>
      <th>2017</th>
      <th>2016</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>accumulatedDepreciationAmortizationPPE</th>
      <td>66760000000</td>
      <td>58579000000</td>
      <td>49099000000</td>
      <td>41293000000</td>
      <td>34235000000</td>
    </tr>
    <tr>
      <th>capitalLeaseObligations</th>
      <td>637000000</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>cashAndCashEquivalentsAtCarryingValue</th>
      <td>38016000000</td>
      <td>48844000000</td>
      <td>25913000000</td>
      <td>20289000000</td>
      <td>20484000000</td>
    </tr>
    <tr>
      <th>cashAndShortTermInvestments</th>
      <td>90943000000</td>
      <td>100557000000</td>
      <td>25913000000</td>
      <td>74181000000</td>
      <td>67155000000</td>
    </tr>
    <tr>
      <th>commonStock</th>
      <td>50779000000</td>
      <td>45174000000</td>
      <td>40201000000</td>
      <td>35867000000</td>
      <td>31251000000</td>
    </tr>
    <tr>
      <th>commonStockSharesOutstanding</th>
      <td>16976763000</td>
      <td>4443236000</td>
      <td>4754986000</td>
      <td>5126201000</td>
      <td>5336166000</td>
    </tr>
    <tr>
      <th>currentAccountsPayable</th>
      <td>42296000000</td>
      <td>46236000000</td>
      <td>55888000000</td>
      <td>44242000000</td>
      <td>37294000000</td>
    </tr>
    <tr>
      <th>currentDebt</th>
      <td>13793000000</td>
      <td>16240000000</td>
      <td>20748000000</td>
      <td>18473000000</td>
      <td>11600000000</td>
    </tr>
    <tr>
      <th>currentLongTermDebt</th>
      <td>8773000000</td>
      <td>10260000000</td>
      <td>8784000000</td>
      <td>6496000000</td>
      <td>3500000000</td>
    </tr>
    <tr>
      <th>currentNetReceivables</th>
      <td>37445000000</td>
      <td>45804000000</td>
      <td>48995000000</td>
      <td>35673000000</td>
      <td>29299000000</td>
    </tr>
    <tr>
      <th>deferredRevenue</th>
      <td>16843000000</td>
      <td>13622000000</td>
      <td>14766000000</td>
      <td>10384000000</td>
      <td>11010000000</td>
    </tr>
    <tr>
      <th>fiscalDateEnding</th>
      <td>2020-09-30</td>
      <td>2019-09-30</td>
      <td>2018-09-30</td>
      <td>2017-09-30</td>
      <td>2016-09-30</td>
    </tr>
    <tr>
      <th>goodwill</th>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>5717000000</td>
      <td>5414000000</td>
    </tr>
    <tr>
      <th>intangibleAssets</th>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>8015000000</td>
      <td>8620000000</td>
    </tr>
    <tr>
      <th>intangibleAssetsExcludingGoodwill</th>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>2298000000</td>
      <td>3206000000</td>
    </tr>
    <tr>
      <th>inventory</th>
      <td>4061000000</td>
      <td>4106000000</td>
      <td>3956000000</td>
      <td>4855000000</td>
      <td>2132000000</td>
    </tr>
    <tr>
      <th>investments</th>
      <td>345644000000</td>
      <td>362952000000</td>
      <td>448287000000</td>
      <td>268895000000</td>
      <td>237585000000</td>
    </tr>
    <tr>
      <th>longTermDebt</th>
      <td>125873000000</td>
      <td>117760000000</td>
      <td>111984000000</td>
      <td>112596000000</td>
      <td>85200000000</td>
    </tr>
    <tr>
      <th>longTermDebtNoncurrent</th>
      <td>98667000000</td>
      <td>91807000000</td>
      <td>93735000000</td>
      <td>97207000000</td>
      <td>75427000000</td>
    </tr>
    <tr>
      <th>longTermInvestments</th>
      <td>100887000000</td>
      <td>105341000000</td>
      <td>170799000000</td>
      <td>194714000000</td>
      <td>170430000000</td>
    </tr>
    <tr>
      <th>otherCurrentAssets</th>
      <td>11264000000</td>
      <td>12352000000</td>
      <td>12087000000</td>
      <td>13936000000</td>
      <td>8283000000</td>
    </tr>
    <tr>
      <th>otherCurrentLiabilities</th>
      <td>42684000000</td>
      <td>37720000000</td>
      <td>33327000000</td>
      <td>30551000000</td>
      <td>8080000000</td>
    </tr>
    <tr>
      <th>otherNonCurrentLiabilities</th>
      <td>54490000000</td>
      <td>50503000000</td>
      <td>48914000000</td>
      <td>40415000000</td>
      <td>36074000000</td>
    </tr>
    <tr>
      <th>otherNonCurrrentAssets</th>
      <td>42522000000</td>
      <td>32978000000</td>
      <td>22283000000</td>
      <td>18177000000</td>
      <td>8757000000</td>
    </tr>
    <tr>
      <th>propertyPlantEquipment</th>
      <td>36766000000</td>
      <td>37378000000</td>
      <td>41304000000</td>
      <td>33783000000</td>
      <td>27010000000</td>
    </tr>
    <tr>
      <th>reportedCurrency</th>
      <td>USD</td>
      <td>USD</td>
      <td>USD</td>
      <td>USD</td>
      <td>USD</td>
    </tr>
    <tr>
      <th>retainedEarnings</th>
      <td>14966000000</td>
      <td>45898000000</td>
      <td>70400000000</td>
      <td>98330000000</td>
      <td>96364000000</td>
    </tr>
    <tr>
      <th>shortLongTermDebtTotal</th>
      <td>216860000000</td>
      <td>209135000000</td>
      <td>220132000000</td>
      <td>219794000000</td>
      <td>164694000000</td>
    </tr>
    <tr>
      <th>shortTermDebt</th>
      <td>4996000000</td>
      <td>5980000000</td>
      <td>11964000000</td>
      <td>11977000000</td>
      <td>8100000000</td>
    </tr>
    <tr>
      <th>shortTermInvestments</th>
      <td>52927000000</td>
      <td>51713000000</td>
      <td>40388000000</td>
      <td>53892000000</td>
      <td>46671000000</td>
    </tr>
    <tr>
      <th>totalAssets</th>
      <td>323888000000</td>
      <td>338516000000</td>
      <td>365725000000</td>
      <td>375319000000</td>
      <td>321686000000</td>
    </tr>
    <tr>
      <th>totalCurrentAssets</th>
      <td>143713000000</td>
      <td>162819000000</td>
      <td>131339000000</td>
      <td>128645000000</td>
      <td>106869000000</td>
    </tr>
    <tr>
      <th>totalCurrentLiabilities</th>
      <td>105392000000</td>
      <td>105718000000</td>
      <td>115929000000</td>
      <td>100814000000</td>
      <td>79006000000</td>
    </tr>
    <tr>
      <th>totalLiabilities</th>
      <td>258549000000</td>
      <td>248028000000</td>
      <td>258578000000</td>
      <td>241272000000</td>
      <td>193437000000</td>
    </tr>
    <tr>
      <th>totalNonCurrentAssets</th>
      <td>180175000000</td>
      <td>175697000000</td>
      <td>234386000000</td>
      <td>246674000000</td>
      <td>385247000000</td>
    </tr>
    <tr>
      <th>totalNonCurrentLiabilities</th>
      <td>153157000000</td>
      <td>142310000000</td>
      <td>142649000000</td>
      <td>140458000000</td>
      <td>150505000000</td>
    </tr>
    <tr>
      <th>totalShareholderEquity</th>
      <td>65339000000</td>
      <td>90488000000</td>
      <td>107147000000</td>
      <td>134047000000</td>
      <td>128249000000</td>
    </tr>
    <tr>
      <th>treasuryStock</th>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
  </tbody>
</table></div></body></html>