<!DOCTYPE html>
<html>
<head>
<title>Stock Screener</title>
</head>
<body>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-bar w3-border w3-green">
  <a href="Home" class="w3-bar-item w3-button w3-padding-16">Home</a>
  <a href="About" class="w3-bar-item w3-button w3-padding-16">About</a>
  <a href="https://www.w3schools.com/w3css/default.asp" class="w3-bar-item w3-button w3-padding-16">W3 Schools CSS</a>
  <a href="mailto:bensamborn@comcast.net" class="w3-bar-item w3-button w3-padding-16">Email</a>
  <form action="{{ url_for("Overview")}}" method="POST">
	<input type="text" class="w3-bar-item w3-input" id="tname" name="tname" placeholder="Search.." style="height:55px; width:250px">
  </form>
</div><div class="w3-sidebar w3-bar-block" style="width:25%">
  <a href="Overview" class="w3-bar-item w3-button">Overview</a>
  <a href="IncomeStatement" class="w3-bar-item w3-button">Income Statement</a>
  <a href="BalanceSheet" class="w3-bar-item w3-button">Balance Sheet</a>
  <a href="PriceChart" class="w3-bar-item w3-button">Price Chart</a>
</div>

<div style="margin-left:25%">
<h1>GOOG Balance Sheet</h1><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>2020</th>
      <th>2019</th>
      <th>2018</th>
      <th>2017</th>
      <th>2016</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>accumulatedDepreciationAmortizationPPE</th>
      <td>41713000000</td>
      <td>30561000000</td>
      <td>22788000000</td>
      <td>17264000000</td>
      <td>13293000000</td>
    </tr>
    <tr>
      <th>capitalLeaseObligations</th>
      <td>1100000000</td>
      <td>685000000</td>
      <td>62000000</td>
      <td>26000000</td>
      <td>None</td>
    </tr>
    <tr>
      <th>cashAndCashEquivalentsAtCarryingValue</th>
      <td>26465000000</td>
      <td>18498000000</td>
      <td>16701000000</td>
      <td>10715000000</td>
      <td>12918000000</td>
    </tr>
    <tr>
      <th>cashAndShortTermInvestments</th>
      <td>136694000000</td>
      <td>119675000000</td>
      <td>109140000000</td>
      <td>101871000000</td>
      <td>86333000000</td>
    </tr>
    <tr>
      <th>commonStock</th>
      <td>58510000000</td>
      <td>50552000000</td>
      <td>45049000000</td>
      <td>40247000000</td>
      <td>36307000000</td>
    </tr>
    <tr>
      <th>commonStockSharesOutstanding</th>
      <td>675222000</td>
      <td>688335000</td>
      <td>695556000</td>
      <td>694783000</td>
      <td>691293000</td>
    </tr>
    <tr>
      <th>currentAccountsPayable</th>
      <td>5589000000</td>
      <td>5561000000</td>
      <td>4378000000</td>
      <td>3137000000</td>
      <td>2041000000</td>
    </tr>
    <tr>
      <th>currentDebt</th>
      <td>1100000000</td>
      <td>1199000000</td>
      <td>None</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>currentLongTermDebt</th>
      <td>999000000</td>
      <td>0</td>
      <td>None</td>
      <td>3969000000</td>
      <td>3935000000</td>
    </tr>
    <tr>
      <th>currentNetReceivables</th>
      <td>31384000000</td>
      <td>27492000000</td>
      <td>21193000000</td>
      <td>18705000000</td>
      <td>14232000000</td>
    </tr>
    <tr>
      <th>deferredRevenue</th>
      <td>3024000000</td>
      <td>2266000000</td>
      <td>2180000000</td>
      <td>1772000000</td>
      <td>1301000000</td>
    </tr>
    <tr>
      <th>fiscalDateEnding</th>
      <td>2020-12-31</td>
      <td>2019-12-31</td>
      <td>2018-12-31</td>
      <td>2017-12-31</td>
      <td>2016-12-31</td>
    </tr>
    <tr>
      <th>goodwill</th>
      <td>21175000000</td>
      <td>20624000000</td>
      <td>17888000000</td>
      <td>16747000000</td>
      <td>16468000000</td>
    </tr>
    <tr>
      <th>intangibleAssets</th>
      <td>22620000000</td>
      <td>22603000000</td>
      <td>20108000000</td>
      <td>19439000000</td>
      <td>19775000000</td>
    </tr>
    <tr>
      <th>intangibleAssetsExcludingGoodwill</th>
      <td>1445000000</td>
      <td>1979000000</td>
      <td>2220000000</td>
      <td>2692000000</td>
      <td>3307000000</td>
    </tr>
    <tr>
      <th>inventory</th>
      <td>728000000</td>
      <td>999000000</td>
      <td>1107000000</td>
      <td>749000000</td>
      <td>268000000</td>
    </tr>
    <tr>
      <th>investments</th>
      <td>138984000000</td>
      <td>119195000000</td>
      <td>199328000000</td>
      <td>104357000000</td>
      <td>84085000000</td>
    </tr>
    <tr>
      <th>longTermDebt</th>
      <td>15319000000</td>
      <td>4685000000</td>
      <td>4062000000</td>
      <td>4026000000</td>
      <td>4000000000</td>
    </tr>
    <tr>
      <th>longTermDebtNoncurrent</th>
      <td>14000000000</td>
      <td>3958000000</td>
      <td>3950000000</td>
      <td>3943000000</td>
      <td>3935000000</td>
    </tr>
    <tr>
      <th>longTermInvestments</th>
      <td>22103000000</td>
      <td>14378000000</td>
      <td>15159000000</td>
      <td>13713000000</td>
      <td>10578000000</td>
    </tr>
    <tr>
      <th>otherCurrentAssets</th>
      <td>5490000000</td>
      <td>4412000000</td>
      <td>4236000000</td>
      <td>2983000000</td>
      <td>4575000000</td>
    </tr>
    <tr>
      <th>otherCurrentLiabilities</th>
      <td>2543000000</td>
      <td>1908000000</td>
      <td>1784000000</td>
      <td>1432000000</td>
      <td>1099000000</td>
    </tr>
    <tr>
      <th>otherNonCurrentLiabilities</th>
      <td>2269000000</td>
      <td>2534000000</td>
      <td>3545000000</td>
      <td>3059000000</td>
      <td>2665000000</td>
    </tr>
    <tr>
      <th>otherNonCurrrentAssets</th>
      <td>3953000000</td>
      <td>2342000000</td>
      <td>2693000000</td>
      <td>2672000000</td>
      <td>1819000000</td>
    </tr>
    <tr>
      <th>propertyPlantEquipment</th>
      <td>84749000000</td>
      <td>73646000000</td>
      <td>59719000000</td>
      <td>42383000000</td>
      <td>34234000000</td>
    </tr>
    <tr>
      <th>reportedCurrency</th>
      <td>USD</td>
      <td>USD</td>
      <td>USD</td>
      <td>USD</td>
      <td>USD</td>
    </tr>
    <tr>
      <th>retainedEarnings</th>
      <td>163401000000</td>
      <td>152122000000</td>
      <td>134885000000</td>
      <td>113247000000</td>
      <td>105131000000</td>
    </tr>
    <tr>
      <th>shortLongTermDebtTotal</th>
      <td>15319000000</td>
      <td>4685000000</td>
      <td>4062000000</td>
      <td>4026000000</td>
      <td>4000000000</td>
    </tr>
    <tr>
      <th>shortTermDebt</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>shortTermInvestments</th>
      <td>110229000000</td>
      <td>101177000000</td>
      <td>92439000000</td>
      <td>91156000000</td>
      <td>73415000000</td>
    </tr>
    <tr>
      <th>totalAssets</th>
      <td>319616000000</td>
      <td>275909000000</td>
      <td>232792000000</td>
      <td>197295000000</td>
      <td>167497000000</td>
    </tr>
    <tr>
      <th>totalCurrentAssets</th>
      <td>174296000000</td>
      <td>152578000000</td>
      <td>135676000000</td>
      <td>124308000000</td>
      <td>105408000000</td>
    </tr>
    <tr>
      <th>totalCurrentLiabilities</th>
      <td>56834000000</td>
      <td>45221000000</td>
      <td>34620000000</td>
      <td>24183000000</td>
      <td>16756000000</td>
    </tr>
    <tr>
      <th>totalLiabilities</th>
      <td>97072000000</td>
      <td>74467000000</td>
      <td>55164000000</td>
      <td>44793000000</td>
      <td>28461000000</td>
    </tr>
    <tr>
      <th>totalNonCurrentAssets</th>
      <td>146720000000</td>
      <td>123331000000</td>
      <td>97116000000</td>
      <td>72987000000</td>
      <td>62089000000</td>
    </tr>
    <tr>
      <th>totalNonCurrentLiabilities</th>
      <td>40238000000</td>
      <td>19032000000</td>
      <td>19280000000</td>
      <td>20180000000</td>
      <td>11705000000</td>
    </tr>
    <tr>
      <th>totalShareholderEquity</th>
      <td>222544000000</td>
      <td>201442000000</td>
      <td>177628000000</td>
      <td>152502000000</td>
      <td>139036000000</td>
    </tr>
    <tr>
      <th>treasuryStock</th>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
  </tbody>
</table></div></body></html>