<!DOCTYPE html>
<html>
<head>
<title>Stock Screener</title>
</head>
<body>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-bar w3-border w3-green">
  <a href="Home" class="w3-bar-item w3-button w3-padding-16">Home</a>
  <a href="https://github.com/bensamborn/Stock_Screener" class="w3-bar-item w3-button w3-padding-16">GitHub</a>
  <a href="https://www.w3schools.com/w3css/default.asp" class="w3-bar-item w3-button w3-padding-16">W3 Schools CSS</a>
  <a href="mailto:bensamborn@comcast.net" class="w3-bar-item w3-button w3-padding-16">Email</a>
  <form action="{{ url_for("Overview")}}" method="POST">
	<input type="text" class="w3-bar-item w3-input" id="tname" name="tname" placeholder="Search.." style="height:55px; width:250px">
  </form>
</div><div class="w3-sidebar w3-bar-block" style="width:25%">
  <a href="Overview" class="w3-bar-item w3-button">Overview</a>
  <a href="IncomeStatement" class="w3-bar-item w3-button">Income Statement</a>
  <a href="BalanceSheet" class="w3-bar-item w3-button">Balance Sheet</a>
  <a href="PriceChart" class="w3-bar-item w3-button">Price Chart</a>
</div>

<div style="margin-left:25%">
<h1>AAPl Income Statement</h1><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>2020</th>
      <th>2019</th>
      <th>2018</th>
      <th>2017</th>
      <th>2016</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>comprehensiveIncomeNetOfTax</th>
      <td>57453000000</td>
      <td>58037000000</td>
      <td>56505000000</td>
      <td>47567000000</td>
      <td>46666000000</td>
    </tr>
    <tr>
      <th>costOfRevenue</th>
      <td>189475000000</td>
      <td>180027000000</td>
      <td>163756000000</td>
      <td>141048000000</td>
      <td>131376000000</td>
    </tr>
    <tr>
      <th>costofGoodsAndServicesSold</th>
      <td>169559000000</td>
      <td>161782000000</td>
      <td>163756000000</td>
      <td>141048000000</td>
      <td>131376000000</td>
    </tr>
    <tr>
      <th>depreciation</th>
      <td>9700000000</td>
      <td>11300000000</td>
      <td>9300000000</td>
      <td>8200000000</td>
      <td>8300000000</td>
    </tr>
    <tr>
      <th>depreciationAndAmortization</th>
      <td>11056000000</td>
      <td>12547000000</td>
      <td>10903000000</td>
      <td>1200000000</td>
      <td>8300000000</td>
    </tr>
    <tr>
      <th>ebit</th>
      <td>69964000000</td>
      <td>69313000000</td>
      <td>76143000000</td>
      <td>66412000000</td>
      <td>62828000000</td>
    </tr>
    <tr>
      <th>ebitda</th>
      <td>77344000000</td>
      <td>76477000000</td>
      <td>81801000000</td>
      <td>67612000000</td>
      <td>71128000000</td>
    </tr>
    <tr>
      <th>fiscalDateEnding</th>
      <td>2020-09-30</td>
      <td>2019-09-30</td>
      <td>2018-09-30</td>
      <td>2017-09-30</td>
      <td>2016-09-30</td>
    </tr>
    <tr>
      <th>grossProfit</th>
      <td>104956000000</td>
      <td>98392000000</td>
      <td>101839000000</td>
      <td>88186000000</td>
      <td>84263000000</td>
    </tr>
    <tr>
      <th>incomeBeforeTax</th>
      <td>67091000000</td>
      <td>65737000000</td>
      <td>72903000000</td>
      <td>64089000000</td>
      <td>61372000000</td>
    </tr>
    <tr>
      <th>incomeTaxExpense</th>
      <td>9680000000</td>
      <td>10481000000</td>
      <td>13372000000</td>
      <td>15738000000</td>
      <td>15685000000</td>
    </tr>
    <tr>
      <th>interestAndDebtExpense</th>
      <td>2873000000</td>
      <td>3576000000</td>
      <td>3240000000</td>
      <td>2323000000</td>
      <td>1456000000</td>
    </tr>
    <tr>
      <th>interestExpense</th>
      <td>2873000000</td>
      <td>3576000000</td>
      <td>3240000000</td>
      <td>2323000000</td>
      <td>1456000000</td>
    </tr>
    <tr>
      <th>interestIncome</th>
      <td>890000000</td>
      <td>4961000000</td>
      <td>5686000000</td>
      <td>5201000000</td>
      <td>3999000000</td>
    </tr>
    <tr>
      <th>investmentIncomeNet</th>
      <td>3763000000</td>
      <td>4961000000</td>
      <td>5686000000</td>
      <td>5201000000</td>
      <td>3999000000</td>
    </tr>
    <tr>
      <th>netIncome</th>
      <td>57411000000</td>
      <td>55256000000</td>
      <td>59531000000</td>
      <td>48351000000</td>
      <td>45687000000</td>
    </tr>
    <tr>
      <th>netIncomeFromContinuingOperations</th>
      <td>57411000000</td>
      <td>55256000000</td>
      <td>59531000000</td>
      <td>48351000000</td>
      <td>45687000000</td>
    </tr>
    <tr>
      <th>netInterestIncome</th>
      <td>-2873000000</td>
      <td>-3576000000</td>
      <td>-3240000000</td>
      <td>-2323000000</td>
      <td>-1456000000</td>
    </tr>
    <tr>
      <th>nonInterestIncome</th>
      <td>274515000000</td>
      <td>260174000000</td>
      <td>265595000000</td>
      <td>229234000000</td>
      <td>None</td>
    </tr>
    <tr>
      <th>operatingExpenses</th>
      <td>38668000000</td>
      <td>34462000000</td>
      <td>30941000000</td>
      <td>26842000000</td>
      <td>24239000000</td>
    </tr>
    <tr>
      <th>operatingIncome</th>
      <td>66288000000</td>
      <td>63930000000</td>
      <td>70898000000</td>
      <td>61344000000</td>
      <td>60024000000</td>
    </tr>
    <tr>
      <th>otherNonOperatingIncome</th>
      <td>-87000000</td>
      <td>422000000</td>
      <td>-441000000</td>
      <td>-133000000</td>
      <td>-1195000000</td>
    </tr>
    <tr>
      <th>reportedCurrency</th>
      <td>USD</td>
      <td>USD</td>
      <td>USD</td>
      <td>USD</td>
      <td>USD</td>
    </tr>
    <tr>
      <th>researchAndDevelopment</th>
      <td>18752000000</td>
      <td>16217000000</td>
      <td>14236000000</td>
      <td>11581000000</td>
      <td>10045000000</td>
    </tr>
    <tr>
      <th>sellingGeneralAndAdministrative</th>
      <td>19916000000</td>
      <td>18245000000</td>
      <td>16705000000</td>
      <td>15261000000</td>
      <td>14194000000</td>
    </tr>
    <tr>
      <th>totalRevenue</th>
      <td>271642000000</td>
      <td>256598000000</td>
      <td>265595000000</td>
      <td>229234000000</td>
      <td>215639000000</td>
    </tr>
  </tbody>
</table></div></body></html>