<!DOCTYPE html>
<html>
<head>
<title>Stock Screener</title>
</head>
<body>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-bar w3-border w3-green">
  <a href="Home" class="w3-bar-item w3-button w3-padding-16">Home</a>
  <a href="https://github.com/bensamborn/Stock_Screener" class="w3-bar-item w3-button w3-padding-16">GitHub</a>
  <a href="https://www.w3schools.com/w3css/default.asp" class="w3-bar-item w3-button w3-padding-16">W3 Schools CSS</a>
  <a href="mailto:bensamborn@comcast.net" class="w3-bar-item w3-button w3-padding-16">Email</a>
  <form action="{{ url_for("Overview")}}" method="POST">
	<input type="text" class="w3-bar-item w3-input" id="tname" name="tname" placeholder="Search.." style="height:55px; width:250px">
  </form>
</div>

<h1>Welcome To Stock Screener V1.0</h1>

<h2>Please Enter Ticker in Search Bar:</h2>

</body>
</html>