<!DOCTYPE html>
<html>
<head>
<title>Stock Screener</title>
<script src="Chart.min.js"></script>
</head>
<body>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-bar w3-border w3-green">
  <a href="Home" class="w3-bar-item w3-button w3-padding-16">Home</a>
  <a href="About" class="w3-bar-item w3-button w3-padding-16">About</a>
  <a href="https://www.w3schools.com/w3css/default.asp" class="w3-bar-item w3-button w3-padding-16">W3 Schools CSS</a>
  <a href="mailto:bensamborn@comcast.net" class="w3-bar-item w3-button w3-padding-16">Email</a>
  <form action="/Overview" method="POST">
	<input type="text" class="w3-bar-item w3-input" id="tname" name="tname" placeholder="Search..">
  </form>
</div><div class="w3-sidebar w3-bar-block" style="width:25%">
  <a href="Overview" class="w3-bar-item w3-button">Overview</a>
  <a href="PriceChart" class="w3-bar-item w3-button">Price Chart</a>
  <a href="DCF" class="w3-bar-item w3-button">Discounted Cash Flow</a>
</div>

<div style="margin-left:25%">

<h1>Simple Line Chart</h1>
<!-- bar chart canvas element -->
<canvas id="myChart" width="600" height="400"></canvas>
<p id="caption">The chart is displaying a simple line chart.</p>

</div></body></html>